/* General */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
}

a {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

/* ************************************************** */

/* Contenido */

.contenedor {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 0 auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "menu header"
                         "menu contenido";
    transition: all .3s ease;
}

.contenedor.active {
    grid-template-columns: 260px auto;
}

/* **********************HEADER************************ */

.header {
    grid-area: header;
    background: #fff;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

/* **********************Header************************ */

.header .barra-busqueda {
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .contenedor-logo {
    grid-area: logo;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.header .contenedor-logo .bt-menu {
  color: #fff;
}

.header .contenedor-logo .logo .fas {
    background: #ff0000;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -4px;
}

.header .contenedor-logo .logo {
    font-family: cursive;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.header .barra-busqueda input {
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #064a76;
    font-size: 16px;
    font-family: sans-serif;
    border-right: none;
    border-left: none;
    border-top: none;
}

.header .barra-busqueda button {
    height: 35px;
    border: 2px solid #064a76;
    border-right: none;
    border-left: none;
    border-top: none;
    background: none;
    padding: 0 25px;
    cursor: pointer;
}

.header .barra-busqueda button .fas{
    color: #064a76;
}

.header .barra-busqueda button:hover {
    background: #f5f5f5;
}

.header .botones-header {
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header .bt {
    color: #fff;
}

.header .botones-header button:hover {
    background: #e7e7e7;
}

.header .botones-header .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header .botones-header .avatar img {
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}

/* **********************Menu************************ */

.menu-lateral {
    grid-area: menu;
    background: #e5520f;
    overflow: hidden;
}

.menu-lateral .conten-logo {
    padding-top: 10px;
    padding-left: 10px;
    height: 75px;
    min-width: 800px;
    display: flex;
}

.menu-lateral .conten-logo .logo-c {
    width: 63px;
    height: 63px;
    background: #fff;
    border-radius: 50%;
    padding: 8px;
} 

.menu-lateral .conten-logo .logo-c img {
    width: 50px;
    height: 40px;
}

.menu-lateral .conten-logo span {
    color: #fff;
}

.menu-lateral .div {
    width: 250px;
    border: 1px solid rgb(221, 215, 215);
    margin: 5px;
}

.menu-lateral .contenedor-menu {
    width: 20%;
    min-width: 250px;
    margin: 5px;
    display: inline-block;
}

.menu-lateral .contenedor-menu .btn {
    color: #fff;
}

.menu-lateral .contenedor-menu .text {
    color: #064a76;
}

.menu-lateral .contenedor-menu .text-active {
    color: #fff;
}

.menu-lateral .contenedor-menu .text-a {
    color: #e5520f;
}


/* ************************MAIN************************ */

.main {
    grid-area: contenido;
    background: #fff;

    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 270px auto;
    grid-template-areas: "areatable"
                        "areabuttons";
    transition: all .3s ease;
}

.main .table {
    grid-area: areatable;
    width: 100%;
    min-height: 75vh;
    background: #fff;
    padding: 10px;
}

